:root {
  --main-color: #5775b4;
  --light-accent: #9e7861;
  --light-shade: #f5f8f2;
  --dark-accent: #673655;
  --dark-shade: #1c161f;
}

body {
  background-color: var(--light-shade);
}

#navbar {
  background-color: var(--dark-shade);
}

#navbar-title {
  color: var(--light-shade);
}

#menu-button {
  fill: var(--light-shade);
}

#offcanvasWithBothOptions {
  background-color: var(--light-shade);
  color: var(--dark-shade);
}

#sidebar-link {
  background-color: var(--light-shade);
}
