:root {
  --main-color: #5775b4;
  --light-accent: #9e7861;
  --light-shade: #f5f8f2;
  --dark-accent: #673655;
  --dark-shade: #1c161f;
}

body {
  background-color: var(--light-shade);
}

#navbar {
  background-color: var(--dark-shade);
}

#navbar-title {
  color: var(--light-shade);
}

#menu-button {
  fill: var(--light-shade);
}

#offcanvasWithBothOptions {
  background-color: var(--light-shade);
  color: var(--dark-shade);
}

#sidebar-link {
  background-color: var(--light-shade);
}

#apply-filter-button {
  background-color: var(--dark-accent);
  color: var(--light-shade);
}

#apply-filter-button:hover {
  background-color: #4b243c;
}

#search-bar {
  background-color: var(--light-shade);
}

aside {
  height: 100dvh;
  position: sticky;
  top: 0;
}

input[type="checkbox"] {
  background-color: var(--light-shade);
  border-color: var(--dark-shade);
}

input[type="checkbox"]:checked {
  background-color: var(--dark-accent);
  border-color: var(--dark-accent);
}

input[type="number"] {
  background-color: var(--light-shade);
  border-color: var(--dark-shade);
}

.card {
  background-color: var(--dark-shade);
  color: var(--light-shade);
}

.card > img {
  height: 300px;
}
