:root {
  --main-color: #5775b4;
  --light-accent: #9e7861;
  --light-shade: #f5f8f2;
  --dark-accent: #673655;
  --dark-shade: #1c161f;
}

:root.dark {
  --main-color: #5775b4;
}

section {
  padding: 60px 0;
}

body {
  background-color: var(--light-shade);
}

#navbar {
  background-color: var(--dark-shade);
}

#sign-up {
  background-color: var(--main-color);
  border: var(--main-color);
}

#log-in {
  background-color: var(--light-accent);
  border: var(--light-accent);
}

#navbar-title {
  color: var(--light-shade);
}

.link {
  color: var(--light-accent);
}
